.pizza {
  width: 277.6px;
  height: 244.7px;
  background: white;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  transition: 0.25s all ease-in-out;
}

.pizza img {
  width: 252px;
  height: 200px;
  object-fit: contain;
}

.pizza span {
  border-radius: 10px;
  background: #ff0000;
  color: white;
  font-weight: 300;
  padding: 5px;
  line-height: 1;
  font-size: 25px;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.pizza .pizza-controls {
  position: absolute;
  top: 5px;
  left: 5px;
}

.pizza svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  color: #392e4a;
}

.pizza h2 {
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  margin-top: -10px;
  background: red;
  font-size: 25px;
  font-weight: 300;
  color: white;
  padding: 0 10px;
}
